body {
  align-items: center;
  background-color: white;
  text-align: center;
  font-family: system-ui, sans-serif;
  width: 1000px;
  margin: 0 auto;
}

#options-container,
#content {
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

legend {
	 color:#000000;
	 border: 1px solid;
	 border-radius: 10px;
	 padding: 10px;
	 color: #4285F4;
}

fieldset {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #4285F4;
  width: 455px;
  margin: 0px;
}

select,
button {
    border: 1px solid;
    border-color: #BBDEFB;
    border-radius: 4px;
    height: 32px;
    width: auto;
    color: #4285F4;
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-family: system-ui, sans-serif;
}

select:hover,
button:hover {
	border-color: #4285F4;
	background-color: rgba(33, 150, 243, .04);
}

button:active {
	border: 2px solid;
}

.tweet-frame {
	border: 1px solid;
	border-color: #E0E0E0;
	border-radius: 10px;
	width: 478px;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tweet-frame:hover {
	border-color: #4285F4;
}

.char-count {
	font-size: small;
	color: gray;
	margin-right: 10px;
	display: inline;
	vertical-align: middle;
}

.copy-button {
	width: 90px;
	text-align: center;
}
