body {
     align-items: center;
     background-color: white;
     text-align: center;
     font-family: system-ui, sans-serif;
     width: 1000px;
     margin: 0 auto;
}
 #options-container, #content {
     width: 500px;
     height: auto;
     padding: 20px;
     border-radius: 20px;
}
 legend {
     border: none;
}
 fieldset {
     padding: 20px;
     border: 1px solid;
     border-radius: 10px;
     border-color: #4285F4;
     width: 455px;
     margin: 0px;
     text-align: left;
     color: #4285F4;
}
 select, button {
     border: 1px solid;
     border-color: #cee0fd;
     border-radius: 4px;
     height: 32px;
     width: auto;
     padding-left: 1em;
     padding-right: 1em;
     color: #4285F4;
     background-color: white;
     text-align: center;
     font-weight: 500;
     font-family: ui-sans-serif, system-ui, sans-serif;
}

button {
	cursor: pointer;
}

 #createButton {
     margin-left: 10px;
     display: block;
}
 select:hover, button:hover {
     border-color: #4285F4;
     background-color: rgba(66, 133, 244, .04)
}
 .tweet-frame {
     border: 1px solid;
     border-color: #cee0fd;
     border-radius: 10px;
     width: 478px;
     text-align: left;
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     overflow: auto;
}
 .tweet-image {
     max-width: 100%;
     height: auto;
}
 .tweet-frame:hover {
     border-color: #4285F4;
     background-color: rgba(66, 133, 244, .04);
}
 .char-count {
     font-size: small;
     color: #666666;
     margin-left: 10px;
     margin-right: 10px;
}
 .copy-button {
     width: 90px;
     text-align: center;
     margin-right: 10px;
}
.edit-button {
	font-size: x-small;
	width: auto;
	height: auto;
	color: #666666;
	border: solid 1px #666666;
	border-radius: 4px;
	padding: 4px;
	outline: none;
	background-color: rgba(242, 242, 242, 0.4);
	margin-right: 4px;
	cursor: pointer;
}
.edit-button:hover {
	color: #999999;
	border-color: #999999;
}

 #button-container {
     display: flex;
     align-items: center;
}
 #post-count {
     color: #4285F4;
     display: none;
     margin-left: 10px;
     font-size: small;
}
 #errorMessage {
     border: 1px solid;
     border-color: #e60000;
     border-radius: 4px;
     height: 32px;
     width: auto;
     color: #e60000;
     background-color: #ffe6e6;
     text-align: center;
     font-weight: 500;
     display: none;
     margin-left: 10px;
     font-family: system-ui, sans-serif;
}
 #loading-spinner {
     display: none;
     margin-left: 10px;
     border: 4px solid #cee0fd;
     border-left: 4px solid #4285F4;
     border-radius: 50%;
     width: 12px;
     height: 12px;
     animation: spin 1s linear infinite;
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4);
}
 .modal-content {
     background-color: #282c37;
     color: #ffff;
     margin: 15% auto;
     padding: 20px;
     width: 30%;
     border-radius: 10px;
}
 .mastodon-logo {
     margin-top: 20px;
}
 #launch-mastodon {
     background-color: #6364ff;
     border-color: #6364ff;
     color: #ffffff;
     margin-left: 10px;
     cursor: pointer;
}
 #launch-mastodon:hover {
     background-color: #563acc;
     border-color: #563acc;
}
 .close {
     float: right;
     cursor: pointer;
     font-size: 28px;
     font-weight: bold;
     border: none;
     background: none;
}
 .close:hover, .close:focus {
     color: #808080;
}
 #instanceLoader {
     background-color: #131419;
     height: 32px;
     color: #ffffff;
     border: none;
     border-radius: 4px;
     font-size: inherit;
     outline: none;
}
 .init-thread {
     margin-right: 10px;
     color: #4285F4;
     width: auto;
     font-size: small;
}
 .init-x, .init-threads {
     background-color: #000000;
     color: #ffffff;
     border-color: #000000;
     padding-left: 1em;
     padding-right: 1em;
}
 .init-x:hover, .init-threads:hover {
     background-color: #404040;
     border-color: #404040;
     cursor: pointer;
}
 .init-masto {
     background-color: #6364ff;
     border-color: #6364ff;
     color: #ffffff;
     padding-left: 1em;
     padding-right: 1em;
}
 .init-masto:hover {
     background-color: #563acc;
     border-color: #563acc;
     cursor: pointer;
}
 .init-bsky {
     background-image: linear-gradient(2.74307rad, rgb(90, 113, 250), rgb(0, 133, 255));
     border: none;
     color: #ffffff;
     padding-left: 1em;
     padding-right: 1em;
}
 .init-bsky:hover {
     background-color: #0060df;
     cursor: pointer;
}

textarea {
	border: solid 3px #f2f2f2;
	font-family: system-ui, sans-serif;
}

.edit-inst {
	font-size: small;
	color: #4285F4;
}

.clearfix {
	float: right;
	content: '';
	display: table;
	clear: both;
	position: relative;
	top: 5px;
}

.cancel-dialog {
	display: none;
  	position: fixed;
  	z-index: 1;
  	color: #4285F4;
  	background-color: rgba(128, 128, 128, 0.4);
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 100%;
  	text-align: center;
}

#cancel-container {
  	margin: 15% auto;
  	width: 30%;
  	background-color: white;
  	padding: 4em;
  	border-radius: 10px;
}

#no-button, #yes-button {
	margin: 4px;
}

#yes-button, .cancel-button {
	background-color: rgb(209, 16, 67);
	border: solid 1px rgb(209, 16, 67);
	color: white;
}

#yes-button:hover, .cancel-button:hover, .cancel-button:focus {
	background-color: rgba(209, 16, 67, 0.8);
	color: white;
}

.warningBsky {
	display: block;
	font-size: x-small;
	color: #0060df;
	margin-top: 4px;
}

.warningThreads {
	display: block;
	font-size: x-small;
	color: #000000;
	margin-top: 4px;
}